body {
    background: SlateGray;

}
section {
    width:80%;
    display:flex;
    background: PowderBlue;
}

figure {
    background-color: purple;
    
    
}
figure img {
    width:80%;

   /* max-width:800px;*/
   }

figcaption {
    font-style:italic;
    text-align:center;
}